.modal-dialog {

    position: fixed;
    top: 0;

}

.close-modal {

    cursor:pointer;
}

.click
{
    cursor:pointer;
}

.nomargintop {margin-top: 0px !important;}
.nomarginbottom {margin-bottom: 0px !important;}
.nomargin {margin: 0px !important;}



.modal-background {
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.49);
}


.content-text
{
    padding-top:40px;
    padding-left: 20px;
}
